.signup-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.signup-first-item {
  grid-column: span 3;
  background: white;
  box-shadow: 0 0 20px 0px rgb(51, 51, 51);
  border-radius: 5px;
  padding: 20px 40px 30px 40px;
  margin: 30px 10px;
}

@media (min-width: 768px) {
  .signup-first-item {
    grid-column: 2/3;
    margin: 0px 30px;
  }
}

@media (min-width: 992px) {
  .signup-first-item {
    grid-column: 2/3;
    margin: 30px 0;
  }
}

.signup-first-item > p {
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.signup-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-footer > a {
  text-decoration: none;
}

.signup-form-label {
  color: #000000;
}
